{% extends 'base.html' %}

{% block title %}Раздел 1{% endblock %}
{% block up %}Лабораторная работа №3{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <h2 class="mt-5">Калькулятор</h2>
        <form method="GET">
        <input type="text" name="n1" value="{{ request.args.get('n1', '') }}">
        <select name="op">
            <option value="+" {% if request.args.get('op') == '+' %} selected {% endif %}>+</option>
            <option value="-" {% if request.args.get('op') == '-' %} selected {% endif %}>-</option>
            <option value="*" {% if request.args.get('op') == '*' %} selected {% endif %}>*</option>
            <option value="/" {% if request.args.get('op') == '/' %} selected {% endif %}>/</option>
        </select>
        <input name="n2" value="{{ request.args.get('n2', '') }}">
        <input type="submit">
        </form>
        {% if res %}
        <p>{{ request.args.get('n1') }} {{ request.args.get('op') }} {{ request.args.get('n2') }} = {{ res }}</p>
        {% endif %}
        {% if msg %}
        <p>{{ msg }}</p>
        {% endif %}
    </div>
</div>
{% endblock %}