{% extends 'base.html' %}

{% block title %}Раздел 4{% endblock %}
{% block up %}Лабораторная работа №4{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <div class="content">

            <p>Отобразить форму для ввода логина и пароля. Анализировать отправленную форму, сообщать пользователю о
                входе или об ошибке аутентификации.</p>
            <p>Дополнительно: устанавливать Cookie с токеном аутентификации. Токен: случайно сгенерированная строка.<p>


                    <form method="POST">
                        <input type="text" name="username" value=""><br>
                        <input type="password" name="password"><br>
                        <input type="submit">
                    </form>
                    <p>Введены неверные логин и/или пароль</p>
        </div>
    </div>
</div>
{% endblock %}