{% extends 'base.html' %}

{% block title %}Раздел 2{% endblock %}
{% block up %}Лабораторная работа №4{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <p>Отобразить форму для ввода номера телефона. Проверять, что в поле введён номер телефона заданного формата
            (имеет длину 10-11 цифр, может содержать дополнительные символы: круглые скобки, дефисы, точки). В
            противном случае выводить сообщение об ошибке. Преобразовывать введённый номер к формату 8-000-000-00-00
            и выводить.</p>
        <pre>
    # +7 (123) 456-75-90
    # 8(123)4567590
    # 123.456.75.90
    # re.match(r'^([\.\(\)-]?\d+[\.\(\)-]?){10,}$', phone)
</pre>
        <form method="POST">
            <input type="text" name="phonenumber" placeholder="Введите номер телефона" value="{{ phonenumber }}">

            <input type="submit">
        </form>
        {% if err %}
        <p style="color:red"> ОШИБКА {{ err }}</p>
        {% endif %}
        {% if formatted %}
        <p> Отформатированный номер: {{ formatted }}.</p>
        {% endif %}
    </div>

</div>
</div>
{% endblock %}