body {
    background-image: url(../img/bg.jpg);
}

#header {
    background: rgb(0, 0, 0, 0);
    margin: 0 15% 0 15%;
}

#nav {
    margin: 0 15% 0 15%;
    background: rgb(209, 207, 207,0);
    border: dotted;
    border-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#main {
    border: solid;
    margin: 0 15% 0 15%;
    background: rgba(209, 207, 207,0);
    height: auto;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* font-family: Calibri; */
}
