{% extends 'base.html' %}

{% block title %}Раздел 1{% endblock %}
{% block up %}Лабораторная работа №5{% endblock %}

{% block content %}
<div class="col-md-8 my-4 border border-white rounded" id="main">
    <div class="container text-center">
        <from class="form" method="post">
            <p><input type="text" class="form-control" name="username" placeholder="Имя пользователя"></p>
            <p><input type="password" class="form-control" name="password" placeholder="Пароль"></p>
            <p><input type="submit" class="btn btn-success" value="Войти"></p>
        </from>
    </div>
</div>
{% if err_msg %}
<p class="text-danger">{{ err_msg }}</p>
{% endif %}
{% endblock %}